
@model BoublikSystem.Models.Statistic
@{
    ViewBag.Counter = 0;

}
@*TODO: Настроить отображение таблицы*@
<h4>Список Отправленных накладных</h4>
<div class="panel panel-default">

    <!--DatePicker-->
    @using (Ajax.BeginForm("_AllBills", "Cook", new {item="1"}, new AjaxOptions() { UpdateTargetId = "componentBody", OnSuccess = "onSuccess" }))
    {


        <p><strong>Период</strong></p>
        <div class="panel-body">

            <div class="form-group">
                <div class='col-md-1'>
                    <label>С</label>
                </div>
                <div class='col-sm-3'>

                    <input type='text' class="form-control" name ="startDate" id='datetimepicker6' />
                    @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>*@


                </div>
                <div class='col-md-1'>
                    <label>По</label>
                </div>
                <div class='col-sm-3'>

                    <input type='text' class="form-control" name ="endDate" id="datetimepicker7" />
                    @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>*@
                </div>
                <div class='col'>
                    <input type="submit" id="applyId" value="Ок" class="btn btn-success" />
                </div>
            </div>
        </div>

    }
    <br />


    <!-------------->
    <!--change to 'tableSection' CSS-class for switch on scroll-->
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <strong>#</strong>
                </th>
                <th>
                    ID накладной
                </th>
                <th>
                    Кол-во позиций
                </th>
                <th>
                    Точка назначения
                </th>
                <th>
                    Дата
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in Model.CookBills.ToList())
            {
                <tr>
                    <td><strong>@(ViewBag.Counter += 1)</strong> </td>
                    <td> @bill.Id</td>
                    <td>@bill.ProductToWayBills.Count</td>

                    @foreach (var adress in (List<SelectListItem>)ViewBag.AdressList)
                    {
                        if (adress.Value == bill.SalesPointId.ToString())
                        {
                            <td>
                                @adress.Text
                            </td>
                            break;
                        }
                    }

                    <td>@bill.Date</td>
                    @*<td><input type="button" value="Details"/></td>*@
                    <td>
                        @using (Html.BeginForm("_BillDetails", "Cook", new { id = bill.Id }))
                        {
                            <input type="submit" value="Просмотр" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">
    $(function () {

        $('#datetimepicker6').datetimepicker({
            format: 'DD/MM/YY'
        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: true, //Important! See issue #1075
            format: 'DD/MM/YY'
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date, "MM/DD/YYYY");

        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date, "MM/DD/YYYY");
        });

        $('#datetimepicker6').val();
    });
</script>