@model IEnumerable<BoublikSystem.Models.UserRoleModels>

@{
    ViewBag.Title = "Index";
}

<h2>Менеджер аккаунтов</h2>

<p>
    @Html.ActionLink("Новый пользователь", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Номер телефона")
        </th>
        <th>
            @Html.DisplayName("Права")
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.User.UserName }) |
            @Html.ActionLink("Сведения", "Details", new { id = item.User.UserName }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.User.UserName })
        </td>
    </tr>
}

</table>
