@model BoublikSystem.Models.DetailsUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Сведения</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SallerLocation)
        </dt>

        <dd>
            @foreach (var point in (IEnumerable<SelectListItem>)ViewBag.SalePoints)
        {

            if (point.Text==ViewBag.SalePoint)
            {
                @Html.DisplayFor(model => point.Text)
            }


        }
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Roles)
    </dt>

    <dd>

        @foreach (var role in (Dictionary<string, bool>)ViewBag.RolesDictionary)
        {

            if (role.Value)
            {
                @Html.DisplayFor(model => role.Key)
            }


        }
    </dd>

</dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.UserName }) |
    @Html.ActionLink("Назад к списку", "CrudUser")
</p>
