@model IDictionary<BoublikSystem.Entities.Product, double>

@foreach (var item in Model)
{
    @*<tr>
            <td>@Html.DisplayFor(modelItem => item.Key.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Key.Price)</td>
            <td id="@string.Format("{0}{1}", "update", item.Key.Id)">@(string.Format("{0} {1}", item.Value, item.Key.MeasurePoint))</td>
            <td>
                @Html.ActionLink("Добавить в чек", "AskForCount", "Sale",
                    new {productId = item.Key.Id},
                    new {@class = "compItem"})
            </td>
        </tr>*@


    <div class="col-md-2 col-sm-3 col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <small class="small">
                    <b>
                        @*@Html.ActionLink(item.Key.Name, "AskForCount", "Sale",
                        new { productId = item.Key.Id },
                        new { @class = "compItem" })*@
                        @item.Key.Name
                    </b>
                </small>
            </div>
            <div class="panel-footer">
                <small class="">Кол: @item.Value</small>
                <small class="">Цена: @item.Key.Price</small>
            </div>
        </div>
    </div>

}
