@model IDictionary<BoublikSystem.Entities.Product, double>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>@item.Key.Name <input type="hidden" value="@item.Key.Id" id="deleteIdProduct" /></td>
            <td>@(Math.Round((item.Key.Price * (decimal)item.Value), 2))</td>
            <td><span id="countAdded">@item.Value</span> @item.Key.MeasurePoint</td>
            <td>
                @using (Ajax.BeginForm("DeleteProductFromBill", "Sale", new { productId = item.Key.Id }, new AjaxOptions() { UpdateTargetId = "selectedProducts" }))
                {
                    <input type="submit" value="Удалить" id="deleteId" onclick="deleteFromBill()" />
                }
            </td>
        </tr>
    }
}
